#lightbox{
	position:absolute;
	background-color:#000;
	color:#fff;
	width:100%;
	opacity:0.8;
}

#lightbox_content{
	color:#000;
	position:absolute;
	background-color:#FFF;
	padding:5px;
	opacity:1;
}

#lightbox_title{
    font-size: 18px;
    font-weight: bold;
    max-width:400px;
}

#close_lightbox{
	position:absolute;
}

#lightbox_dialog{
	margin:auto;
	padding-top:5px;
}